__pycache__/
*.py[cod]
*.so
*.pyc
*~
.#*i
.Dockerfile_*
.DS_Store
.secrets/
.vscode/
/__fetchdb_tests
/build
\#*#
docs/_book
test/system/*.pyc
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.log
*.pot
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
