version: '2'
services:
  opa:
    image: openpolicyagent/opa:0.4.8
    ports:
      - 8181:8181
    command:
      - "run"
      - "--server"
      - "--log-level=debug"
      - "api_authz.rego"
    volumes:
      - ./policy/api_authz.rego:/api_authz.rego

  api_server:
    image: openpolicyagent/demo-http-api:latest
    ports:
      - 5000:5000
    environment:
      - OPA_ADDR=http://opa:8181
      - POLICY_PATH=/v1/data/httpapi/authz
