name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04
    steps:
    - name: Check out code
      uses: actions/checkout@v5

    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: '^1.22.5'

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Install OPA
      uses: open-policy-agent/setup-opa@v2
      with:
        version: v0.67.0

    - name: Make build
      run: PATH=$PATH:$PWD:/home/runner/.local/bin make build

    - name: Setup Regal
      uses: StyraInc/setup-regal@v1
      with:
        version: v0.24.0

    - name: Regal Lint
      run: regal lint --format github .
