name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-20.04
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: '^1.15.5'

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Install OPA
      run: ./build/install-opa.sh

    - name: Make build
      run: PATH=$PATH:$PWD:/home/runner/.local/bin make build
